<div class="h-lvh flex items-center space-x-1">
    <div class="
    ">
        <div class="
        flex 
        ">
            <h1 class="
            bg-indigo-500 
            p-4 
            rounded-full
            font-bold
            font-mono
            ">Desenvolvedor front-end</h1>
        </div>

        <h2 class="
        text-8xl
        font-mono
        ">Oi, sou o Murilo </h2>

        <h3 class="
        font-bold 
        text-xl 
        mt-10
        font-mono
        ">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, ullam ratione
            consequuntur rerum eius
            quisquam officia, incidunt beatae sed voluptate tempora a fuga, illum esse dignissimos voluptas reiciendis
            reprehenderit delectus?</h3>
        <button
        onclick="scrollToProjects()" 
        class="
        shadow-[4px_4px_0px_rgba(0,0,0,1)]
        bg-white
        text-black
        border-black
        border-2
        py-4
        px-6 
        rounded
        font-bold
        mt-8
        font-mono
        transition duration-300 ease-in-out transform  hover:shadow-[8px_8px_0px_rgba(99,102,241,1)]
        ">
            Veja alguns dos meu trabalhos
        </button>
    </div>
    <div class=" 
    flex 
    items-center 
    justify-end 
    w-full 
    h-full
    ">
        <img src='/assets/images/perfil.jpg' alt="" class="
        h-3/5 
        rounded-full 
        border-2 
        border-black
        ">
    </div>
</div>