<div class="h-lvh">
    <div class="h-screen flex flex-col justify-center">
        <div class="header ">
            <h1 class="text-7xl font-mono font-semibold mb-10">
                Aqui esta alguns dos meus melhores projetos
            </h1>
            <h2 class="font-mono text-3xl font-semibold">
                Pode nao ser nenhum revolucionario mais que tal dar uma olhada
            </h2>
        </div>
        <div class="cards mt-10">
            <ul class="flex justify-center gap-8">
                <li class="
                p-4 
                shadow-[4px_4px_0px_rgba(0,0,0,1)]
                text-black
                border-black
                border-2
                rounded-md
                flex-1
                flex-col
                space-y-4
                ">
                    <h1 class="font-bold text-2xl ">
                        Name Project
                    </h1>
                    <h2 class="font-medium text-xl">
                        Descricao do projeto
                    </h2>
                    <div class=" flex justify-center items-center">
                        <button class="bg-black py-4 px-10 shadow-[4px_4px_0px_rgba(99,102,241,1)] text-white border-black border-2 transition duration-300 ease-in-out transform  hover:shadow-[8px_8px_0px_rgba(99,102,241,1)]">
                            <h1 class="font-semibold text-lg text-white">
                                Abrir no Git
                            </h1>
                        </button>
                    </div>
                </li>
                <li class="
                p-4 
                shadow-[4px_4px_0px_rgba(0,0,0,1)]
                text-black
                border-black
                border-2
                rounded-md
                flex-1
                flex-col
                space-y-4
                ">
                    <h1 class="font-bold text-2xl ">
                        Name Project
                    </h1>
                    <h2 class="font-medium text-xl">
                        Descricao do projeto
                    </h2>
                    <div class=" flex justify-center items-center">
                        <button class="bg-black py-4 px-10 shadow-[4px_4px_0px_rgba(99,102,241,1)] text-white border-black border-2 transition duration-300 ease-in-out transform  hover:shadow-[8px_8px_0px_rgba(99,102,241,1)]">
                            <h1 class="font-semibold text-lg text-white">
                                Abrir no Git
                            </h1>
                        </button>
                    </div>
                </li>
                <li class="
                p-4 
                shadow-[4px_4px_0px_rgba(0,0,0,1)]
                text-black
                border-black
                border-2
                rounded-md
                flex-1
                flex-col
                space-y-4
                ">
                    <h1 class="font-bold text-2xl ">
                        Name Project
                    </h1>
                    <h2 class="font-medium text-xl">
                        Descricao do projeto
                    </h2>
                    <div class=" flex justify-center items-center">
                        <button class="bg-black py-4 px-10 shadow-[4px_4px_0px_rgba(99,102,241,1)] text-white border-black border-2 transition duration-300 ease-in-out transform  hover:shadow-[8px_8px_0px_rgba(99,102,241,1)]">
                            <h1 class="font-semibold text-lg text-white">
                                Abrir no Git
                            </h1>
                        </button>
                    </div>
                </li>
                


            </ul>
        </div>
    </div>
</div>